
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-top{
    height: 100px;
    background-color: orangered;
    display: flex;
}
.contenitore{
    max-width: 1170px;
    margin: auto;
    display: flex;
    width: 100%;
    

}
.nav-generale{
    width: 20%;
    padding: 10px;
}
.nav-generale ul{
    list-style: none;
    display: flex; 
    justify-content: center; 
       
}
.logo-boolean{
    width: 60%;
    padding: 10px;
    text-align: center;
}
.nav-icons{
    width: 20%;
    padding: 10px;
}
.nav-icons ul{
    list-style: none;
    display: flex; 
    justify-content: center; 

       
}
.nav-generale li, .nav-icons li{
    padding: 0px 15px;

}
a{
    text-decoration: none;
    color: white;
}
.logo{
    width: 100px;
}