
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-top{
    height: 100px;
    background-color: orangered;
    display: flex;
}
.contenitore{
    max-width: 1170px;
    margin: auto;
    display: flex;
    width: 100%;
    

}
.nav-generale{
    width: 20%;
    padding: 10px;
}
.nav-generale ul{
    list-style: none;
    display: flex; 
    justify-content: center; 
       
}
.logo-boolean{
    width: 60%;
    padding: 10px;
    text-align: center;
}
.nav-icons{
    width: 20%;
    padding: 10px;
}
.nav-icons ul{
    list-style: none;
    display: flex; 
    justify-content: center; 

       
}
.nav-generale li, .nav-icons li{
    padding: 0px 15px;

}
a{
    text-decoration: none;
    color: white;
}
.logo{
    width: 100px;
}
.container{
    max-width: 1170px;
    margin: 100px auto;
}
.colonne{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: calc(100% / 3);
    padding: 20px;
    padding-bottom: 60px;
}
.prodotto .prima-img{
    width: 100%;
}
.prodotto{
    position: relative;
}
.seconda-img{
    width: 100%;
}
.prodotto:hover .prima-img{
    display: none;

}
.prodotto:hover .seconda-img{
    display: block;
}
.seconda-img{
    display: none;
}
.cuore{
    position: absolute;
    top: 3px;
    right: 0;
    background-color: white;
    padding: 5px;
    font-size: 20px;

}
.cuore:hover{
    color: red;
}
.sconti{
    position: absolute;
    left: 0;
    bottom: 50px;
    background-color: red;
    padding: 5px;
    font-size: 20px;
}

 .quad-verde{
    left: 60px;
    bottom: 50px;
    background-color: green;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    display: inline-block;


}
.quad-verde-ultimo{
    left: 0;
    bottom: 50px;
    background-color: green;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    display: inline-block;


}
.info{
    position: absolute;
    top: 100%;
}
.prezzo{
    color: red;
}
.marca{
    color: gray;
    font-size: 10px;
}
strike{
    color: gray;
}
.footer-bottom{
    background-color: black;
    height: 100px;
}
.contenitore-footer{
    max-width: 1170px;
    margin: auto;
}
.contenitore-footer{
    display: flex;
    justify-content: space-between;
    width: 1210px;
    height: 50px;
    align-items: center;
}
.lista1{
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
}
.icons-footer{
    padding-top: 10px;
}
.info-footer{
    padding-top: 10px;
}